@import url('https://fonts.googleapis.com/css?family=Indie+Flower|Kalam|Laila|Tillana&display=swap');


.villacontainer{
    /* background-image: url(../../assets/images/bg2.jpg);
    background-position: center;
    background-size: cover; */
    /* background-color: cornflowerblue; */
    background-color: darkseagreen;
}

/* .villabackground{
  background: rgba(0,0,0,0.5);
} */

.villaheader{
    color: white;
    font-family: serif;
    background: rgba(0,0,0,0.5);
}

.villabutton {
    border-radius: 16px;
    background-color: #f4511e;
    border: none;
    color: #FFFFFF;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 20px;
    padding: 10px 20px;
    width: 200px;
    transition: all 0.5s;
    cursor: pointer;
    margin: 4px 2px;
  }
  
  .villabutton span {
    cursor: pointer;
    display: inline-block;
    position: relative;
    transition: 0.5s;
  }
  
  .villabutton span:after {
    content: '\00bb';
    position: absolute;
    opacity: 0;
    top: 0;
    right: -20px;
    transition: 0.5s;
  }
  
  .villabutton:hover span {
    padding-right: 25px;
  }
  
  .villabutton:hover span:after {
    opacity: 1;
    right: 0;
  }





  /* VillaForm */

  .villaformcontainer{

    background-color: #e0e0e0!important ;
    
  }

  .villaformcardbody{
    background: rgba(0,0,0,0.5);
  }



  /* VillaRow */
  .villarowcontainer{
    margin-top: 3rem;
    margin-left: 0rem;
    
  }

  .villatopcontainer{
    background-image: url(../../assets/images/bg21.jpg);
    background-position: unset;
    background-size: contain;
    
    
    
}

.villacardcontainer{
  background-color: #e0e0e0;
 
}

  .villaname{
    font-family: 'Kalam', cursive;
    font-weight: bold;
    
  }

  .villatext{
    font-family: 'Tillana', cursive !important;
    font-size: medium;
    margin: 0;
    padding: 0;
  }
