.containerBookingForm{
    background-image: url(../../assets/images/bg1.jpg);
    background-position: center;
    background-size: cover;
    height: 100vh !important;
    width: 100vw !important;
}

.headercontainer{
    /* background-color: cornflowerblue; */
    margin-bottom: 10rem;
    
}

.headertext{  
    font-size: 7rem;
    color: white;
    margin-bottom: 0vh;
    font-family: 'Kalam', cursive;
}

.labelcontainer{
    background: rgba(0,0,0,0.5);
    border-radius: 5%;
}

.labelcontainer1{
  background-color: darkseagreen;
}

.bookinglabel{
    color: white;
    font-size: 2rem;
    font-family: 'Tillana', cursive;
}

/* .bookingbutton{
   
    background-color: coral;
    height: 8vh;
    width: 15vw;
    color: white;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
} */

.bookingbutton {
    border-radius: 16px;
    background-color: #f4511e;
    border: none;
    color: #FFFFFF;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 20px;
    padding: 10px 20px;
    width: 200px;
    transition: all 0.5s;
    cursor: pointer;
    margin: 4px 2px;
  }
  
  .bookingbutton span {
    cursor: pointer;
    display: inline-block;
    position: relative;
    transition: 0.5s;
  }
  
  .bookingbutton span:after {
    content: '\00bb';
    position: absolute;
    opacity: 0;
    top: 0;
    right: -20px;
    transition: 0.5s;
  }
  
  .bookingbutton:hover span {
    padding-right: 25px;
  }
  
  .bookingbutton:hover span:after {
    opacity: 1;
    right: 0;
  }


  /* Bookingrow */
  .cardheader{
    font-size: xx-large;
    /* font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif; */ 
    font-family: serif;
    background-image: url(../../assets/images/bg21.jpg);
    background-position: center;
    background-size: cover;
    height: 30vh;
    color:white;
  }

  .headingtext{
    background: rgba(0,0,0,0.5);
  }

  .villacardcontainer{
    background-color: white;
  }





/* BookingRow */

