@import url('https://fonts.googleapis.com/css?family=Indie+Flower|Kalam|Laila|Tillana&display=swap');


.container1{
    background-image: url(../../assets/images/bg1.jpg);
    background-position: center;
    background-size: cover;
    height: 100vh !important;
    width: 100vw !important;
    /* border: 2px solid black; */
}

.header{
    
    font-size: 8rem;
    color: white;
    margin-top: 25vh;
    /* font-family: Georgia, 'Times New Roman', Times, serif; */
    /* font-family: 'Courier New', Courier, monospace; */
    /* font-family: cursive; */
    /* font-family: serif; */
    /* font-family: 'Indie FLower', cursive; */
    font-family: 'Kalam', cursive;
    font-weight: bold;
    
}

.hometextcontainer{
  /* background: rgba(0,0,0,0.2); */
  font-family: 'Times New Roman', Times, serif;
  font-size: 1rem;
}

/* .homebutton{
    border-radius: 0% !important;
    background-color: coral;
    height: 8vh;
    width: 15vw;
    color: white;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
} */

.homebutton {
    border-radius: 16px;
    background-color: #f4511e;
    border: none;
    color: #FFFFFF;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 20px;
    padding: 10px 20px;
    width: 200px;
    transition: all 0.5s;
    cursor: pointer;
    margin: 4px 2px;
  }
  
  .homebutton span {
    cursor: pointer;
    display: inline-block;
    position: relative;
    transition: 0.5s;
  }
  
  .homebutton span:after {
    content: '\00bb';
    position: absolute;
    opacity: 0;
    top: 0;
    right: -20px;
    transition: 0.5s;
  }
  
  .homebutton:hover span {
    padding-right: 25px;
  }
  
  .homebutton:hover span:after {
    opacity: 1;
    right: 0;
  }

 








/* HomeVideo */
.container2{
    /* background-image: url(../../assets/images/bg13.jpg); */
    /* background-position: center;
    background-size: cover; */
    /* background-color: #F9F5FF; */
    background-color: darkseagreen;
    height: 70vh !important;
    width: 100vw !important;
    /* border: 2px solid black; */
    margin: 0; 
    padding: 0;
}

.homevideocontainer{
    margin: 0; 
    padding: 0;
}






/* HomeServices */
.container3{
  /* background-image: url(../../assets/images/bg13.jpg); */
  /* background-position: center;
  background-size: cover; */
  background-color: #F9F5FF; 
  height: 100vh !important;
  width: 100vw !important;
  /* border: 2px solid black; */
  margin: 0; 
  padding: 0;
  margin-bottom: 4rem;
}

.cardcontainer{
  height: 70vh !important;
  width: 30vw !important;
  margin-bottom: inherit;
}

.servicesheader{
  font-family: serif;
  font-size: xxl;
  color: gray;
  margin-top: 4rem;
}

.cardimage {
  opacity: 1;
  display: block;
  width: 100%;
  height: auto;
  transition: .5s ease;
  backface-visibility: hidden;
}

.cardmiddle {
  transition: .5s ease;
  opacity: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  text-align: center;
  
}

.cardcontainer:hover .cardimage {
  opacity: 0.5;
}

.cardcontainer:hover .cardmiddle {
  opacity: 1;
}

.cardtext {
  /* background-color: #4CAF50; */
  background: rgba(0,0,0,0.5);
  color: white;
  font-size: 25px;
  padding: 16px 32px;
  font-family: sans-serif;
  margin-bottom: 10rem;
}





/* Login */
.logincontainer{
  background-image: url(../../assets/images/bg21.jpg);
  background-position: center;
  background-size: cover;
}


.loginheader{
  background: rgba(0,0,0,0.5);
  width: 18vw;
  height: 45vh;
  border-radius: 5%;
}

.loginheadertext{
  color: white;
  /* font-family: 'Indie Flower', cursive; */
  font-family: 'Kalam', cursive;
  /* font-family: 'Laila', serif; */
  /* font-family: 'Tillana', cursive; */
  font-size: 2rem;
}

.labeltext{
  color: white;
  font-family: 'Tillana', cursive;
}


.loginbutton {
  border-radius: 16px;
  background-color: #f4511e !important;
  border: none;
  color: #FFFFFF;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 15px;
  padding: 10px 20px;
  width: 200px;
  transition: all 0.5s;
  cursor: pointer;
  margin: 4px 2px;
}

.loginbutton span {
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.5s;
}

.loginbutton span:after {
  content: '\00bb';
  position: absolute;
  opacity: 0;
  top: 0;
  right: -20px;
  transition: 0.5s;
}

.loginbutton:hover span {
  padding-right: 25px;
}

.loginbutton:hover span:after {
  opacity: 1;
  right: 0;
}

/* Register */
.registercontainer{
  background-image: url(../../assets/images/bg21.jpg);
  background-position: center;
    background-size: cover;
}


.loginheader2{
  background: rgba(0,0,0,0.5);
  width: 20vw;
  height: 85vh;
  border-radius: 2%;
}









/* Footer */
footer{
	background-color: darkseagreen;
	color: white;
	padding-top: 2rem;
  /* height: 100vh; */
}

.footercontainer{
  height: 70vh;
  margin-top: 8rem;
}




hr.light{
	border-top: 1px solid #d5d5d5;
	width: 75%;
	margin-top: .8rem;
	/* margin-bottom: 1rem; */
}
footer a {
	color: white;
}
hr.light-100{
	border-top: 1px solid #d5d5d5;
	width: 100%;
	margin-top: .8rem;
	/* margin-bottom: 1rem; */
}